
export TWITTER_CONSUMER_KEY='v5GocYDjCfcAwU9gWc149Evir'
export TWITTER_CONSUMER_SECRET='kO1F6XFFbhv70gU9gma1bSatayATuHFzxo3rw7fxrwXIhDXCcT'
export TWITTER_ACCESS_TOKEN='717065156958748672-YnBtWT0U7uwp8LjmKIhjYV1fgdAJcv0'
export TWITTER_ACCESS_TOKEN_SECRET='ubeyN8ZI1h6xPnnsMpzN1IyIKrRLJVKExWYBpNvcWoyiS'


export STEAM_API_KEY='728DE2216DCCEA45662ACE5E5015AAC9'

export BLACKLISTED_LEAGUE_IDS='[]'

export MANDRILL_KEY='4ece3900bc09ceed1dd1bbce495f22b1-us13'

export REDISCLOUD_URL='	pub-redis-17401.us-east-1-4.2.ec2.garantiadata.com:17401'